<div class="container">
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12 col-lg-12" align="center">
			<h2>Listado de Tickets</h2>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12 col-lg-12">
			<button type="button" class="btn btn-info btn-lg btn-block" ng-click="modal_ticket()" ng-disabled="permisos.indexOf('api.crear_ticket') < 0">Agregar Ticket</button>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-3 col-lg-3">
			<input type="text" class="form-control" ng-model="filter.titulo" placeholder="Título">
		</div>
		<div class="col-md-4 col-lg-4">
			<input type="text" class="form-control" ng-model="filter.descripcion" placeholder="Descripcion">
		</div>
		<div class="col-md-3 col-lg-3">
			<select class="custom-select" ng-options="estado.id as estado.nombre for estado in estados" ng-model="filter.estado">
			<option value="">- Estado -</option>
			</select>
		</div>
		<div class="col-md-2 col-lg-2" align="right">
			<button type="button" class="btn btn-outline-secondary" ng-click="filter = {};">Limpiar Filtros</button>
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-12 col-lg-12">
			<!-- <div class="well" ng-repeat="t in tickets">
				sdsd
				<h3>{{t.titulo}} <small>{{t.estado_nombre}}</small></h3>
				<p>{{t.descripcion}}</p>
				<small>{{t.fecha_creacion}}</small>
			</div> -->
			<div class="card mb-3" ng-class="{'bg-danger text-white': t.estado_nombre == 'Cerrado', 'bg-info text-white': t.estado_nombre == 'Resuelto', 'bg-warning text-white': t.estado_nombre == 'Pendiente', 'bg-secondary text-white': t.estado_nombre == 'En Proceso'}" style=" margin-bottom: 10px;" ng-repeat="t in tickets | filter: filter">
				<div class="card-header">
					<div class="row">
						<div class="col-md-10 col-lg-10 form-inline">
							<h4 style="margin-bottom: 3px;">{{t.titulo}}</h4>
							<span class="badge badge-pill badge-dark" style="margin-left: 10px;vertical-align: middle;">{{t.estado_nombre}}</span>

						</div>
						<div class="col-md-2 col-lg-2" align="right">
							<small>{{t.fecha_creacion | date : format : timezone}}</small>
						</div>
					</div>
				</div>
			  	<div class="card-body">
			    	<h5 class="card-title">{{t.titulo}}</h5>
			    	<p class="card-text">{{t.descripcion}}</p>
			  	</div>
			</div>
		</div>
	</div>
</div>


<ng-include src="'/static/frontend/modal_ticket.html'"></ng-include>
