<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Nuevo Ticket</h3>
    </div>
    <div class="modal-body" id="modal-body">
    	<!-- <div class="row">
    		<div class="col-md-6 col-lg-6">
        		<input type="text" name="nombre_cliente" id="inputNombre_cliente" class="form-control" value="" required="required" title="Nombre Cliente" placeholder="Nombre" ng-model="clientes__clientes.selected.nombre">
    		</div>
    		<div class="col-md-6 col-lg-6">
    			<input type="text" name="rut_cliente" id="inputRut_cliente" class="form-control" value="" required="required" title="Rut Cliente" placeholder="Rut (Opcional)" ng-model="clientes__clientes.selected.rut">
    		</div>
    	</div>
    	<div class="row" style="margin-top: 10px;">
    		<div class="col-md-6 col-lg-6">
        		<input type="number" name="telefono_cliente" id="inputTelefono_cliente" class="form-control" value="" required="required" title="Telefono Cliente" placeholder="Telefono" ng-model="clientes__clientes.selected.telefono">
    		</div>
    		<div class="col-md-6 col-lg-6">
    			<input type="mail" name="correo_cliente" id="inputCorreo_cliente" class="form-control" value="" required="required" title="Correo Cliente" placeholder="Correo (Opcional)" ng-model="clientes__clientes.selected.correo">
    		</div>
    	</div> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="nuevo_ticket()" type="button">Crear Ticket</button>
        <button class="btn btn-danger" ng-click="modalTicket.close()" type="button">Cerrar</button>
    </div>
</script>