{% load staticfiles %}
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static "/bower_components/bootstrap/dist/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "/bower_components/fontawesome/web-fonts-with-css/css/fa-regular.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "/bower_components/fontawesome/web-fonts-with-css/css/fontawesome-all.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "/frontend/se.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static "bower_components/angular-bootstrap/ui-bootstrap-csp.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/angular-ui-select/dist/select.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/font-awesome/css/font-awesome.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/angular-material/angular-material.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/amo-angular-multiselect/dist/multiselect.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap-daterangepicker/daterangepicker.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "bower_components/amo-angular-multiselect/dist/multiselect.css" %}"/> -->