<!DOCTYPE html>
{# {% load filtros %} #}
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{% block titulo %}{% endblock%}</title>
		{% include "base/css_lib.html" %}
  	</head>
  	<body ng-app="se">
		  <div class="container-fluid">
        <div ng-view></div>
      </div>
  	</body>
    {% block js_lib %}
      {% include "base/js_lib.html" %}
    {% endblock%}
</html>