{% load staticfiles %}
<script src="{% static '/bower_components/angular/angular.js' %}"> </script>
<script src="{% static '/bower_components/angular-route/angular-route.js' %}"></script>
<script src="{% static '/bower_components/jquery/dist/jquery.min.js' %}"> </script>
<script src="{% static '/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static '/bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>
<script src="{% static '/bower_components/angular-ui-select/dist/select.min.js' %}"></script>
<script src="{% static '/bower_components/ng-notify/dist/ng-notify.min.js' %}"></script>
<script src="{% static '/frontend/config.js' %}"></script>
<script src="{% static '/frontend/controllers.js' %}"></script>
<script src="{% static '/frontend/routes.js' %}"></script>
<script src="{% static '/frontend/services.js' %}"></script>
